*{
   margin:0;
   padding:0;
}

body{
   
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}
 


.container{
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    height:100dvh;
    display:flex;
    justify-content:center;
    align-items:center;
}   

.card{
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    padding: 50px;
    border-radius: 20px;
}

.img-container{
 display:flex;
 justify-content: center;
 margin: 18px;
}

.img-container img{
width: 140px;
border-radius: 50%;
}

.text-center{

    text-align: center;

}

.text-white{
    color: azure;
}
.title{
    font-size: 22px;
    font-weight: 500;
}
.adress{
    font-size: 15px;
    margin: 7px 0 18px 0;
    color: chartreuse;
    font-weight: 500;
}
.raki-color{
    color: rgba(255, 255, 255, 0.60);
}
.list{
    list-style:none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;


}

.List-item{

    background-color:crimson;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    width: 250px;
    cursor: pointer;
}
.List-item:hover{
    background-color:rgb(215, 84, 110);
    transform: scale(1.3);
    transition:0.3s all;
}



a.List-item-link{
    color: white;
    text-decoration: none;
}
